<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            [CRM.Infrastructure]CRM.Infrastructure.Persistence.*,
            [CRM.Infrastructure]CRM.Infrastructure.Repositories.*,
            [CRM.Infrastructure]CRM.Infrastructure.Migrations.*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
